* {
    margin: 0;
}

body {
    background-color: #22212C;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #302F3D;
  }
::-webkit-scrollbar-thumb {
    background-color: #837E9F;
    border-radius: 20px;
  }

@media screen and (min-width: 1366px) {
    .container {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1365px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
    }
}